In [2]:
# imports
import numpy as np
import pandas as pd

In [13]:
taxi_zone_lookup = pd.read_csv('nyc-tlc/trip data/taxi_zone_lookup.csv')
print('taxi_zone_lookup:', taxi_zone_lookup.shape)
print(taxi_zone_lookup.head())
manhattan_location_ids = taxi_zone_lookup[taxi_zone_lookup['Borough']=='Manhattan']['LocationID'].values
print('manhattan_location_ids:', manhattan_location_ids.shape)
print(manhattan_location_ids)

taxi_zone_lookup: (265, 4)
   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone
manhattan_location_ids: (69,)
[  4  12  13  24  41  42  43  45  48  50  68  74  75  79  87  88  90 100
 103 104 105 107 113 114 116 120 125 127 128 137 140 141 142 143 144 148
 151 152 153 158 161 162 163 164 166 170 186 194 202 209 211 224 229 230
 231 232 233 234 236 237 238 239 243 244 246 249 261 262 263]

In [14]:
sample = pd.read_csv('nyc-tlc/trip data/sample.csv')
print('sample:', sample.shape)
print(sample.head())
sample_manhattan = sample[sample['PULocationID'].isin(manhattan_location_ids)]
print('sample_manhattan:', sample_manhattan.shape)
print(sample_manhattan.head())

sample: (1000, 17)
   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         1  2018-01-01 00:21:05   2018-01-01 00:24:23                1
1         1  2018-01-01 00:44:55   2018-01-01 01:03:05                1
2         1  2018-01-01 00:08:26   2018-01-01 00:14:21                2
3         1  2018-01-01 00:20:22   2018-01-01 00:52:51                1
4         1  2018-01-01 00:09:18   2018-01-01 00:27:06                2

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0            0.5           1                  N            41            24
1            2.7           1                  N           239           140
2            0.8           1                  N           262           141
3           10.2           1                  N           140           257
4            2.5           1                  N           246           239

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             2          4.5    0.5      0.5        0.00           0.0
1             2         14.0    0.5      0.5        0.00           0.0
2             1          6.0    0.5      0.5        1.00           0.0
3             2         33.5    0.5      0.5        0.00           0.0
4             1         12.5    0.5      0.5        2.75           0.0

   improvement_surcharge  total_amount
0                    0.3          5.80
1                    0.3         15.30
2                    0.3          8.30
3                    0.3         34.80
4                    0.3         16.55
sample_manhattan: (908, 17)
   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         1  2018-01-01 00:21:05   2018-01-01 00:24:23                1
1         1  2018-01-01 00:44:55   2018-01-01 01:03:05                1
2         1  2018-01-01 00:08:26   2018-01-01 00:14:21                2
3         1  2018-01-01 00:20:22   2018-01-01 00:52:51                1
4         1  2018-01-01 00:09:18   2018-01-01 00:27:06                2

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0            0.5           1                  N            41            24
1            2.7           1                  N           239           140
2            0.8           1                  N           262           141
3           10.2           1                  N           140           257
4            2.5           1                  N           246           239

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             2          4.5    0.5      0.5        0.00           0.0
1             2         14.0    0.5      0.5        0.00           0.0
2             1          6.0    0.5      0.5        1.00           0.0
3             2         33.5    0.5      0.5        0.00           0.0
4             1         12.5    0.5      0.5        2.75           0.0

   improvement_surcharge  total_amount
0                    0.3          5.80
1                    0.3         15.30
2                    0.3          8.30
3                    0.3         34.80
4                    0.3         16.55

In [ ]:
tripdata_201801 = pd.read_csv('nyc-tlc/trip data/yellow_tripdata_2018-01.csv')
print('tripdata_201801:', tripdata_201801.shape, tripdata_201801.head())